<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://unpkg.com/@tailwindcss/browser@4"></script>
        <title>ADV Shop</title>
    </head>
    <body class="flex flex-col items-center justify-center h-screen">
        <h3>Welcome</h3>

        <a th:href="@{/product/list}" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-md shadow-sm mb-3">
            Product List
        </a>
    </body>
</html>